/* button{
    background-color: blueviolet;
    width: 200vw;
}
.hidden {

display: none;
} */
body{
    background-color: #eedbdb;
    margin: 0;
    padding: 0;
}

table{
    margin-left: 30vw;
        margin-top: 10vw;
    caption-side: top;
    border: 10px solid;
    border-color: blue #ff05c9 #ff0059 #00ffea;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-collapse: 3px;
}

/* input{
    margin-left: 45vw;
    margin-bottom: 20px;
} */

footer{
    /* margin-bottom:15vw;
    padding-bottom: 70px; */
}